<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-top">
    <div class="col-10 col-md-8 col-lg-6">
      <div class="container">
        <h1><%= t('.title', resource: resource_name.to_s.humanize) %></h1>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="row">
          <div class="col">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, autofocus: true, autocomplete: 'first_name', class: 'form-control' %>
          </div>

          <div class="col">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, autofocus: true, autocomplete: 'last_name', class: 'form-control' %>
          </div>
        </div><br>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, autocomplete: 'new-password', class: 'form-control' %>

          <small class="form-text text-muted"><%= t('.leave_blank_if_you_don_t_want_to_change_it') %></small>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: 'new-password', class: 'form-control'  %>
        </div>

        <div class="form-group">
          <%= f.label :current_password %>
          <%= f.password_field :current_password, autocomplete: 'current-password', class: 'form-control' %>

          <small class="form-text text-muted"><%= t('.we_need_your_current_password_to_confirm_your_changes') %></small>
        </div>
        <div class="form-group">
          <%= f.label :mobile %>
          <%= f.text_field :mobile, autofocus: true, autocomplete: 'mobile', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :gender %><br>
          <%= f.select :gender, User.genders.keys, {}, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit t('.update'), class: 'btn btn-primary' %>
        </div>
        <% end %>
        <%= link_to t('.back'), :back %>
      </div>
    </div>
  </div>
</div>