<div class="container">
  <h4>Job Posts</h4>
  <%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
  <table class="table table-sm">
    <thead class="thead">
      <tr>
        <th>Profile</th>
        <th>Type</th>
        <th>Salary</th>
        <th>Location</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Status</th>
      </tr>
    </thead>
    <% @posts.each do |post| %>
    <tbody>
      <tr>
        <td><%= post.job_post.job_title %></td>
        <td><%= post.job_post.job_type %></td>
        <td><%= post.job_post.salary_min %> - <%= post.job_post.salary_max %></td>
        <td><%= post.job_post.location %></td>
        <td>
          <%= link_to '<span class= "icon-eye"></span>'.html_safe, company_job_post_path(post.job_post.company, post), class: "btn btn-outline-info" %>
        </td>
        <td>
          <%= link_to '<span class= "icon-edit"></span>'.html_safe, edit_company_job_post_path(post.job_post.company, post), class: "btn btn-outline-info" %>
        </td>
        <td>
          <%= link_to '<span class= "icon-delete"></span>'.html_safe, company_job_post_path(post.job_post.company, post), method: "delete", class: "btn btn-outline-danger" %>
        </td>
        <td>
          <%= form_for(post, url: company_job_post_path(post.job_post.company, post)) do |f| %>
          <div class='form-group'>
            <%= f.select :status, ApplyJob::STATUS, {}, { value: post.status, class: 'custom-select', onchange: 'this.form.submit();' } %>
          </div>
          <% end %>
        </td>

    <tbody>
      <% end %>
  </table>
  <%= will_paginate @posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
</div>