<div class="container mt-4">
  <h4>Companies</h4>
  <%= will_paginate @companies, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
  <div class="table-responsive">
    <table class="table table-sm">
      <thead class="thead">
        <tr>
          <th>Company</th>
          <th>city,state</th>
          <th>View</th>
          <th>Edit</th>
          <th>Delete</th>
          <th>Status</th>
        </tr>
      </thead>
      <% @companies.each do |company| %>
      <tbody>
        <tr>
          <td><%= company.title %></td>
          <td><%= company.city%> <%= company.state%></td>
          <td>
            <%= link_to company_path(company) do %>
            <% content_tag :span, "", class: "icon-eye btn btn-outline-primary" %>
            <% end %>
          </td>
          <td>
            <%= link_to edit_company_path(company) do %>
            <% content_tag :span, "", class: "icon-edit btn btn-outline-info" %>
            <% end %>
          </td>
          <td>
            <%= link_to company_path(company), method: :delete, data: {confirm:"Are you sure?"} do  %>
            <% content_tag :span, "", class: "icon-delete btn btn-outline-danger" %>
            <% end %>
          </td>
          <td><%= company.status %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
  <%= will_paginate @companies, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
</div>