<div class="container">
  <h4>Job Posts</h4>
  <%= will_paginate @job_posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
  <table class="table table-sm">
    <thead class="thead">
      <tr>
        <th>Profile</th>
        <th>Type</th>
        <th>Salary</th>
        <th>Location</th>
        <th>View</th>
        <th>Edit</th>
        <th>Delete</th>
        <th>Candidates</th>
        <th>Status</th>
      </tr>
    </thead>
    <% @job_posts.each do |post| %>
      <tbody>
        <tr>
          <td><%= post.job_title %></td>
          <td><%= post.job_type %></td>
          <td><%= post.salary_min %> - <%= post.salary_max %></td>
          <td><%= post.location %></td>
          <td>
            <%= link_to '<span class= "icon-eye"></span>'.html_safe, company_job_post_path(post.company, post), class: "btn btn-outline-info" %>
          </td>
          <td>
            <%= link_to '<span class= "icon-edit"></span>'.html_safe, edit_company_job_post_path(post.company, post), class: "btn btn-outline-info" %>
          </td>
          <td>
            <%= link_to '<span class= "icon-delete"></span>'.html_safe, company_job_post_path(post.company, post), method: "delete", class: "btn btn-outline-danger" %>
          </td>
          <td>
            <%= link_to '<span class= "icon-person"></span>'.html_safe, view_candidates_company_job_post_path(post.company, post), class: "btn btn-outline-info"%>
          </td>
          <td>
            <%= form_for(post, url: company_job_post_path(post.company, post)) do |f| %>
              <div class='form-group'>
                <%= f.select :status, JobPost.statuses.keys, {}, { value: post.status, class: 'custom-select', onchange: 'this.form.submit();' } %>
              </div>
            <% end %>
          </td>
        </tr>
      <tbody>
    <% end %>
  </table>
  <%= will_paginate @job_posts, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
</div>
