<<<<<<< Updated upstream
<%= render 'layouts/admin_sidebar' %>
<div class="container col-md-9">
<div class="container">
  <div class="mt-5 d-flex justify-content-center">
=======
<div class="container">
>>>>>>> Stashed changes
    <h4>jobseekers</h4>
  </div>
  <%= will_paginate @jobseekers, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
  <table class="table mt-5">
    <tr>
      <th>Name</th>
      <th>Contact No.</th>
      <th>Gender</th>
<<<<<<< Updated upstream
      <th>Status</th>
=======
      <th>Resume</th>
>>>>>>> Stashed changes
      <th>Applied in jobs</th>
      <th>Delete</th>
    </tr>
    <% @jobseekers.each do |jobseeker| %>
    <tr>
      <td><%= jobseeker.user.first_name %> <%= jobseeker.user.last_name %></td>
      <td><%= jobseeker.user.mobile %></td>
      <td><%= jobseeker.user.gender %></td>
<<<<<<< Updated upstream
      <td><%= jobseeker.user.active %></td>
      <td><%= link_to 'Applied job'  %></td>
      <td><%= link_to 'Edit' %></td>
      <td><%= link_to 'delete',admin_destroy_jobseeker_path(jobseeker.user.id), method: :delete  %></td>
=======
      <td><%= link_to 'Resume', url_for(jobseeker.user.resume.resume_file), class: "btn btn-outline-primary" %></td>
      <td><%= link_to 'Applied job', admin_applied_job_path(jobseeker.user.id), class: "btn btn-outline-primary"  %></td>
      <td><%= link_to 'delete',admin_destroy_jobseeker_path(jobseeker.user.id), method: :delete, class: "btn btn-danger"  %></td>
>>>>>>> Stashed changes
    </tr>
    <% end %>
  </table>
  <%= will_paginate @jobseekers, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
</div>
</div>