<div class="container h-100">
  <div class="row h-100 justify-content-center align-items-top">
    <div class="col-10 col-md-8 col-lg-6">
      <div class="container">
        <h1>User Edit</h1>
        <%= form_with(model: @user)do |f| %>
        <div class="row">
          <div class="col">
            <%= f.label :first_name %>
            <%= f.text_field :first_name, autofocus: true, autocomplete: 'first_name', class: 'form-control' %>
          </div>

          <div class="col">
            <%= f.label :last_name %>
            <%= f.text_field :last_name, autofocus: true, autocomplete: 'last_name', class: 'form-control' %>
          </div>
        </div><br>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, autofocus: true, autocomplete: 'email', class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :mobile %>
          <%= f.text_field :mobile, autofocus: true, autocomplete: 'mobile', class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :gender %><br>
          <%= f.select :gender, User.genders.keys, {}, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.submit "Update", class: 'btn btn-primary' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>