<div class= "container">
<section class="ftco-section bg-light">
	<div class="container">
		<div class="row justify-content-center pb-3">
			<div class="col-md-7 heading-section text-center ftco-animate">
				<h2 class="mb-4">Companies</h2>
			</div>
		</div>
  <%= will_paginate @pages, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
		<% @companies.each do |company| %>
		<div class="row">
				<div class="col-md-12 ftco-animate">
					<div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

						<div class="mb-1 mb-md-0 mr-3">
							<div class="job-post-item-header d-flex align-items-center">
								<div class="user-img mr-2"><%= image_tag(company.thumbnail) if company.logo.attached?%></div>
								
								<h2 class="mr-3 text-black h3"></span><%= company.title %></h2>
								<div><span class="icon-my_location"></span> <span><%= company.city%>, <%= company.state%></span></div>      
								</div>
						</div>
						<div class="ml-auto d-flex">
							<%= link_to 'View', company_path(company), class: 'btn btn-primary'%>
						</div>
					</div>
				
			</div>
		</div>
		<% end %>
  <%= will_paginate @pages, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
	</div>
</section>
</div>