<%= render 'companies/company_show_navbar' %>
<div class="container">
	<body>
		<div id="intro" class="offset">
			<div class="jumbotron">
				<div class="container ">
					<div class="row">
						<div class="col-md-2">
							<div class="user-img mr-2"><%= image_tag(@company.thumbnail)if @company.logo.attached?%></div>
						</div>
						<div class="col-md-10">
							<h1><%= @company.title %></h1>
							<div class="star-rating" data-score=<%= @avg_review %>></div>
							<em><%= "#{@reviews.length} reviews" %></em>
						</div>
					</div>
				</div>
			</div>
			<div class="jumbotron">
				<div class="container">
					<h3 class="heading-2">About <%= @company.title%></h3>
					<p><%= @company.about %></p>
				</div>
			</div>
		</div>
		<div id="contact_us" class="offset">
			<div class="jumbotron">
				<div class="container text-center">
					<h3>Contact us</h3>
					<div id="address">
						<ul class="ftco-footer-social list-unstyled d-flex justify-content-center mt-3">
							<li><%= link_to '<span class= "icon-linkedin"></span>'.html_safe,"#{@company.linkedin}"%></li>
							<li><%= link_to '<span class= "icon-facebook"></span>'.html_safe,"#{@company.facebook}"%></li>
							<li><%= link_to '<span class= "icon-instagram"></span>'.html_safe,"#{@company.instagram}"%></li>
						</ul>
					</div>
					<p><span class='icon-phone mr-3'> <%= @company.contact_no%></span></p>
					<p><%= @company.website%></p>
					<p><%= @company.address%></p>
					<p><%= @company.city%> <%= @company.state%></p>
					<p><%= @company.country%> <%= @company.pincode%></p>
				</div>
			</div>
		</div>
</div>
</body>
<div>
	<script>
		$('.star-rating').raty({
			readOnly: true,
			score: function () {
				return $(this).attr('data-score');
			},
			path: '/assets/'
		});
	</script>