<%= form_with(model:[@company, @job_post]) do |form| %>
  <% if job_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job_post.errors.count, "error") %> prohibited this demodb from being saved:</h2>
      <ul>
        <% job_post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :Post_name %>
    <%= form.text_field :job_title, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :Description %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :Job_Type %>
    <%= form.select :job_type, Post::JOB_TYPE,{}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :Location %>
    <%= form.text_field :location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :Required_Skills %>
    <%= form.text_area :required_skill, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :Extra_Skills %>
    <%= form.text_area :extra_skill, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :Minimum_Salary %>
    <%= form.text_field :salary_min, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :Maximum_Salary %>
    <%= form.text_field :salary_max, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :Last_Apply_Date %>
    <%= form.date_field :last_apply_date, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :Language %>
    <%= form.text_field :language, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :Job_Field %>
    <%= form.text_field :job_field, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :Vacancy %>
    <%= form.number_field :vacancy, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :Status %>
    <%= form.select(:status, JobPost.statuses.keys) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>