<div class="ftco-search">
  <div class="mt-4">
    <center><b><h5>Find a Job</h5></b></center>
  </div>          
  <div class="col-md-12 tab-wrap">
    <div class="tab-content p-4" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel"
        aria-labelledby="v-pills-nextgen-tab">
        <%= form_with(url: job_posts_search_path, local: true, method: :post) do |form| %>
        <div class="row">
          <div class="col-md">
            <div class="form-group">
              <div class="form-field">
                <%= form.select :job_title, options_from_collection_for_select(JobPost.select(:job_title).distinct, :job_title, :job_title), {}, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="form-group">
              <div class="form-field">
                <%= form.select :location, options_from_collection_for_select(JobPost.select(:location).distinct, :location, :location),{}, class: "form-control" %>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="form-group">
              <div class="form-field">
                <%= form.submit 'Search', class: "form-control btn btn-primary", id: "search" %>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
    
<div class="container">
  <div class="row">
    <% if !@job_posts.blank? %>
      <% @job_posts.each do |job| %>
        <div class="col-md-12 ftco-animate">

          <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">

            <div class="mb-4 mb-md-0 mr-5">
              <div class="job-post-item-header d-flex align-items-center">
                <h2 class="mr-3 text-black h3"><%= job.job_title %></h2>
                <div class="badge-wrap">
                  <span class="bg-primary text-white badge py-2 px-3"><%= job.job_type %></span>
                </div>
              </div>
              <div class="job-post-item-body d-block d-md-flex">
                <div class="mr-3"><span class="icon-layers"></span> <a href="#"><%= job.company.title%></a></div>
                <div><span class="icon-my_location"></span> <span><%= job.location %></span></div>
              </div>
            </div>

            <div class="ml-auto d-flex">
              <%= link_to "Show more", company_job_post_path(job.company.id,job), class:"btn btn-primary py-2 mr-1" %>
            </div>
          </div>
        </div><!-- end -->
        <% end %>
      <% else %>
        <span>Jobs not available</span>
      <% end %>
    </div>
  </div>