<td><%= @job_post.job_title %></td>
<td><%= @job_post.job_type %></td>
<td><%= @job_post.location %></td>
<td><%= @job_post.language %></td>
<% if current_user %>
<%= link_to 'Apply job',apply_job_user_job_post_path(current_user,@job_post) %>
<% end %>


