<% if current_user %>
<% if @applied.any? %>
<center>
  <div class="mt-4">
    <h3>Your application applied.</h3>
  </div>
</center>
<% end %>
<% end %>

<center>
  <div class="mt-4">
    <h1>Job Details</h1>
  </div>
</center>

<div class="container">
  <div class="ftco-section bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8 mb-5">
          <p>
            <h3><%= @job_post.job_title %></h3>
            </h4><%= @job_post.job_type %></h4>
            <spam class="icon-location_city"></spam><%= @job_post.location %></b>
          </p>
          <div class="card">
            <div class="card-header">
              <b>Profile Details</b>
            </div>
            <div class="card-body">
              <p><%= @job_post.description %></p>
            </div>
          </div>
          <div class="container">
            <p><b>Salary : </b><%= @job_post.salary_min %> - <%= @job_post.salary_max %></p>
            <% if !@job_post.language.blank? %>
            <p><b>Preferred Language : </b><%= @job_post.language %></p>
            <% end %>
            <% if !@job_post.required_skill.blank? %>
            <p><b>Required Skills </b><%= @job_post.required_skill %></p>
            <% end %>
            <% if !@job_post.extra_skill.blank? %>
            <p><b>Extra Skills </b><%= @job_post.extra_skill %></p>
            <% end %>
            <% if !@job_post.last_apply_date&.strftime("%d %b, %Y").blank? %>
            <p><b>Last date to apply is <%= @job_post.last_apply_date&.strftime("%d %b, %Y") %><p>
                  <% end %>
          </div>
          <% if current_user %>
          <% if !@applied.any? %>
          <% if current_user.has_role? :job_seeker %>
          <center>
            <%= link_to 'Apply Job', apply_job_user_job_post_path(current_user, @job_post), class: "btn btn-primary" %>
          </center>
          <% end %>
          <% end %>
          <% else %>
          <center>
            <%= link_to 'Apply Job', new_user_session_path, class: "btn btn-primary" %>
          </center>
          <%end%>
        </div>
        <div class="p-4 mb-3 bg-white">
          <div class="card">
            <div class="card-header">
              <b>Company Details</b>
            </div>
            <div class="card-body">
              <div class="container text-center">
                <p class="font-weight-bold"><%= @job_post.company.title%></p>
                <p><%= @job_post.company.website%></p>
                <p><%= @job_post.company.address%></p>
                <p><%= @job_post.company.city%> <%= @job_post.company.state%></p>
                <p><%= @job_post.company.country%> <%= @job_post.company.pincode%></p>
                <ul class="ftco-footer-social list-unstyled d-flex justify-content-center mt-3">
                  <li><%= link_to '<span class= "icon-linkedin"></span>'.html_safe,"#{@job_post.company.linkedin}"%>
                  </li>
                  <li><%= link_to '<span class= "icon-facebook"></span>'.html_safe,"#{@job_post.company.facebook}"%>
                  </li>
                  <li><%= link_to '<span class= "icon-instagram"></span>'.html_safe,"#{@job_post.company.instagram}"%>
                  </li>
                </ul>
                <p><span class='icon-phone mr-3'> <%= @job_post.company.contact_no%></span></p>

                <%= link_to "Show more ", company_path(@job_post.company_id), class: 'btn btn-primary'%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>