<% if current_user %>
  <% if current_user.has_role? :admin %>
    <%= render 'layouts/admin_sidebar' %>
  <% end %>
<% end %>
<div class="container" style="width:900px;">
  <center>
    <div class="mt-4">
      <h2>Candidates</h2>
    </div>
  </center>
  <table class="table">
  <% if !@candidates.blank? %>
    <%= will_paginate @pages, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Contact No.</th>
      <th>Resume</th>
    </tr>
    
      <% @candidates.each do |user| %>
        <tr>
          <td><%= user.first_name %> <%= user.last_name %></td>
          <td><%= user.email %></td>
          <td><%= user.mobile %></td>
          <td><%= link_to 'Resume', url_for(user.resume.resume_file) %></td>
        </tr>
      <% end %>
      <br>
      <%= will_paginate @pages, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
  <% else %>
    <h1>Data not found</h1>
  <% end %>
  </table>
</div>

