<div class="hero-wrap js-fullheight" style="background-image: url(assets/bg_2.jpg);"
  data-stellar-background-ratio="0.5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start"
      data-scrollax-parent="true">
      <div class="col-xl-10 ftco-animate mb-5 pb-5" data-scrollax=" properties: { translateY: '70%' }">
        <p class="mb-4 mt-5 pt-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">We have <span
            class="number" data-number="850000"><%= @count %></span> great job offers you deserve!</p>
        <h1 class="mb-5" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Your Dream <br><span>Job is
            Waiting</span></h1>
        <div class="ftco-search">
          <div class="row">
            <div class="col-md-12 nav-link-wrap">
              <div class="nav nav-pills text-center" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active mr-md-1" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1" role="tab"
                  aria-controls="v-pills-1" aria-selected="true">Find a Job</a>
              </div>
            </div>          
            <div class="col-md-10 tab-wrap">
              <div class="tab-content p-4" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-1" role="tabpanel"
                  aria-labelledby="v-pills-nextgen-tab">
                  <%= form_with(url: job_posts_search_path, method: :post, local: true) do |form| %>
                    <div class="row">
                      <div class="col-md">
                        <div class="form-group">
                          <div class="form-field">
                            <%= form.select :job_title, options_from_collection_for_select(JobPost.select(:job_title).distinct, :job_title, :job_title), {}, class: "form-control" %>
                          </div>
                        </div>
                      </div>
                      <div class="col-md">
                        <div class="form-group">
                          <div class="form-field">
                            <%= form.select :location, options_from_collection_for_select(JobPost.select(:location).distinct, :location, :location),{}, class: "form-control" %>
                          </div>
                        </div>
                      </div>
                      <div class="col-md">
                        <div class="form-group">
                          <div class="form-field">
                            <%= form.submit 'Search', class: "btn btn-primary btn-block", id: "search" %>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row justify-content-center mb-5 pb-3">
      <div class="col-md-7 heading-section text-center ftco-animate">
        <span class="subheading">Recently Added Jobs</span>
        <h2 class="mb-4"><span>Recent</span> Jobs</h2>
      </div>
    </div>
    <div class="row">
    <% if !@job_posts.blank? %>
    <% @job_posts.each do |job| %>
      <div class="col-md-12 ftco-animate">
        <div class="job-post-item bg-white p-4 d-block d-md-flex align-items-center">
          <div class="mb-4 mb-md-0 mr-5">
            <div class="job-post-item-header d-flex align-items-center">
              <h2 class="mr-3 text-black h3"><%= job.job_title %></h2>
              <div class="badge-wrap">
                <span class="bg-primary text-white badge py-2 px-3"><%= job.job_type %></span>
              </div>
            </div>
            <div class="job-post-item-body d-block d-md-flex">
              <div class="mr-3"><span class="icon-layers"></span> <%= link_to "#{job.company.title}", company_path(job.company_id)%></div>
              <div><span class="icon-my_location"></span> <span><%= job.location %></span></div>
            </div>
          </div>
          <% if user_signed_in? %>
          <div class="ml-auto d-flex">
          <%= link_to "Show more", user_job_post_path(current_user, job), class:"btn btn-primary py-2 mr-1" %>
          </div>
          <% else %>
          <div class="ml-auto d-flex">
          <%= link_to "Show more",new_user_session_path, class:"btn btn-primary py-2 mr-1" %>
          </div>
          <% end %>
        </div>
      </div><!-- end -->
      <% end %>
      <% else %>
        <span>Jobs not available</span>
      <% end %>
    </div>
  </div>
</section>

<%= render 'layouts/footer'%>
