<p> User: <%= review.user.email %></p>

<p> Rate : <%= review.rating%></p>
<p> <%= review.review_desc %></p>
<p><%= time_ago_in_words(review.created_at)%> ago</p>
<% if (current_user.id == review.user_id) %>
<p><%= link_to 'Edit', edit_company_review_path(review.company,review)%></p>
<%= link_to 'delete', company_review_path(review.company,review), method: :delete %>
<% end %>