<div class="card">
	<div class="card-header">
		<div class="row">
			User: <%= @review.user.first_name %> <%= @review.user.last_name %>&nbsp;
			<div class="star-rating" data-score=<%= @review.rating %>></div>&nbsp; -
			<%= time_ago_in_words(@review.updated_at)%> ago
		</div>
	</div>
	<div class="card-body">
		<%= @review.review_desc %>
		<br>
		<p class="align-self-end pull-right">
			<% if (user_signed_in? && (current_user.id == @review.user_id)) %>
			<%= link_to edit_company_review_path(@review.company,@review) do %>
			<%= content_tag :span,"",class: "icon-edit btn btn-outline-info"%>
			<% end %>
			<%= link_to company_review_path(@review.company,@review), method: :delete do %>
			<%= content_tag :span,"",class: "icon-delete btn btn-outline-danger"%>
			<% end %>
			<% end %>
		</p>
	</div>
</div>