<div class="container mt-4">
  <%= form_with(model: [@user,@resume]) do |f| %>
    <%= f.hidden_field :user_id, value: @user.id %>
    <% if resume.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(resume.errors.count, "error") %> prohibited this demodb from being saved:</h2>
        <ul>
          <% resume.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :file_name %>
      <%= f.text_field :file_name, class: "form-control" %>
    </div>
    
    <div class="form-group">
      <%= f.label :resume_file %>
      <%= f.file_field :resume_file, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit :Submit, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
