<div class="container">
  <% if !@resumes.present? %>
    <center>
      <div class="mt-3 btn btn-info">
        <%= link_to "Upload Resume ", new_user_resume_path, class: "btn btn-info" %>
      </div>
    </center>
  <% else %>
    <br>
    <h3>Your Resume</h3>
    <table class="table">
      <tr>
        <td><%= @resumes.file_name %></td>
        <td><%= link_to 'download', url_for(@resumes.resume_file) %></td>
        <td><%= link_to "edit", edit_user_resume_path(current_user.id, @resumes) %></td>
        <td><%= link_to "delete", user_resume_path( current_user.id, @resumes), method: :delete, data: {confirm:"Are you sure?"} %></td>
      </tr>
    </table>
  <% end %>
</div>
