<div class="sidenav">
  <div class="sidenav-header">
    <i class="fa fa-user-circle fa-4x" style="color: white;"></i>
  </div>
  <hr color="#616161">
  <a><%= link_to 'Dashboard', admin_dashboard_index_path %></a>
  <hr color="#616161">
  <a><%= link_to 'Companies', admins_companies_path %></a>
  <hr color="#616161">
  <a><%= link_to 'Users(Jobseekers)', admins_jobseekers_path %></a>
  <hr color="#616161">
  <a><%= link_to 'Job Posts', admins_job_posts_path %></a>
  <hr color="#616161">
  <a><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></a>
  <hr color="#616161">
</div>
    <!-- Page Content -->
<!-- END nav -->