<html>

<head>
  <%= stylesheet_link_tag "sidebar", media: "all" %>

</head>

<body>
  <div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
      <div class="sidebar-header">
        JobPortal
      </div>
      <ul class="list-unstyled components">
        <li class="<%if current_page?("/admins/index")%>active<%end%>" >
          <%= link_to '<span class= "icon-home"></span> Dashboard'.html_safe, "/admins/index" %>
        </li>
        <li class="<%if current_page?("/admins/companies/")%>active<%end%>">
          <%= link_to '<span class= "icon-layers"></span> Company'.html_safe, "/admins/companies/"%>
        </li>
        <li class="<%if current_page?("/admins/jobseekers/")%>active<%end%>">
          <%= link_to '<span class= "icon-business_center"></span> JobSeeker'.html_safe, "/admins/jobseekers/"%>
        </li>
        <li class="<%if current_page?("/admins/job_posts/")%>active<%end%>">
          <%= link_to '<span class= "icon-mail_outline"></span> JobPost'.html_safe, "/admins/job_posts/"%>
        </li>
        <li class="<%if current_page?("/admins/resumes")%>active<%end%>">
          <%= link_to '<span class= "flaticon-resume"></span> Resume'.html_safe, "/admins/resumes"%>
        </li>
         <li class="<%if current_page?("/admins/user_list")%>active<%end%>">
          <%= link_to '<span class= "icon-person"></span> User'.html_safe, "/admins/user_list"%>
        </li>
      </ul>
    </nav>
    <!-- Page Content -->
    <div id="content">
      <div class="dark-bg sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-primary" onclick="myFunction()">
              <i class="fa fa-align-left"></i>
              <%# <span>Toggle Sidebar</span> %>
            </button>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
              aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span></button>

            <div class="container">
              <div class="collapse navbar-collapse" id="ftco-nav">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item <%if current_page?(edit_user_registration_path)%>active<%end%>"><%= link_to 'Profile', edit_user_registration_path, class: ' nav-link' %></li>
                  <li class="nav-item cta me-md-2">
                    <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-primary" %>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
      <script>
        (function ($) {
          "use strict";
          var fullHeight = function () {
            $('.js-fullheight').css('height', $(window).height());
            $(window).resize(function () {
              $('.js-fullheight').css('height', $(window).height());
            });
          };
          fullHeight();
          $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
          });
        })(jQuery);
      </script>
</body>

</html>