<!DOCTYPE html>
<html lang="en">
<head>
  <title>JobPortal - Free Bootstrap 4 Template by Colorlib</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
      <a class="navbar-brand" href="/">JobPortal</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
        aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>

      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav ml-auto">
          <% if user_signed_in? %>
          <li class="nav-item"><%= link_to 'Home', root_path, class: "nav-link" %> </a></li>
          <li class="nav-item"><%= link_to 'Profile', edit_user_registration_path, class: ' nav-link' %></li>
          <li class="nav-item"><%= link_to 'Upload Resume',user_resumes_path(current_user.id),  class: 'nav-link' %></li>
          <li class="nav-item cta mr-md-2"><%= link_to "Post a Job", new_company_session_path, class: "nav-link"%></li>
          <li class="nav-item cta me-md-2">
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "btn btn-primary"%></li>
          <% else %>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary"%></li>&nbsp;
            <li class="nav-item">
            <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary"%></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END nav -->
</body>
</html>
