<!DOCTYPE html>
<html>

<head>
  <title>Job-Portal</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
 
</head>

<body>

  <%= render "layouts/alert"%>
  <% header_redirect %>
  <%= yield %>
  <script>
    setTimeout("$('.error_msgs').fadeOut('slow')", 2000)
    setTimeout("$('.success_msgs').fadeOut('slow')", 2000)
</script>
</body>

</html>